# Configuración de la base de datos PostgreSQL
DATABASE_URL=postgresql+asyncpg://usuario:contraseña@localhost:5432/nombre_bd

# Configuración de Supabase
SUPABASE_URL=tu_url_supabase
SUPABASE_KEY=tu_clave_supabase
SUPABASE_BUCKET=nombre_bucket_supabase

# Configuración de OpenAI
OPENAI_API_KEY=tu_clave_openai
